$white: #fff;
$black: #000;

$primary: #305D00;
$primary-light: #3D7701;
$gray: #333333;
$orange: #F38E0B;
$yellow: #FAD552;

// $background-default: #ecf0f1;
// $border-color-default: #bdc3c7;
// $text-color-default: $black;
// $placeholder-color-default: #95a5a6;