.Footer {
  background: $primary;

  &-title {
    font-size: 4.8rem;
    color: $white;
    font-family: HKGrotesk-Bold;

    @media (max-width: 575px) {
      font-size: 30px;
    }
  }

  &-description {
    color: $white;
    font-size: 4.8rem;

    @media (max-width: 575px) {
      font-size: 30px;
    }

    a {
      color: $white;
      text-decoration: none;
      word-break: break-all;
    }
  }

  &-wrapper {
    padding: 7.5rem 0;

    @media (max-width: 991px) {
      flex-direction: column;
      align-items: flex-start;
    }

    &-item {

      @media (max-width: 991px) {
        &:first-child {
          margin-bottom: 15px;
        }
      }

      &-icon {
        width: 7rem;
        height: 7rem;
        margin-left: 2rem;
        cursor: pointer;
        border-radius: 8px;

        @media (max-width: 991px) {
          margin-left: 0;
          margin-right: 20px;
        }

        &.telegram {
          background: #229ED9;
        }

        &.twitter {
          background: #00acee;
        }

        img {
          width: 70%;
        }
      }
    }
  }
}