.Header {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;

  @media (max-width: 991px) {
    position: fixed;
    padding: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    &-overlay {
      opacity: 0;
    }

    &-nav {
      transform: translateX(100%);
    }

    &.active {
      pointer-events: unset;

      .Header {
        &-overlay {
          opacity: 1;
        }
    
        &-nav {
          transform: translateX(0);
        }

      }
    }
  }

  &-overlay {
    display: none;

    @media (max-width: 991px) {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($black, 0.4);
      transition: 0.3s ease;
    }
  }

  &-wrapper {
    padding: 16px 0;
  }

  &-logo {
    max-width: 23.4rem;

    @media (max-width: 991px) {
      display: none;
    }

    img {
      width: 100%;
    }
  }

  &-nav {
    @media (max-width: 991px) {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 280px;
      background: $primary;
      flex-direction: column;
      align-items: flex-end;
      padding: 16px;
      transition: 0.3s ease;
    }

    &-close {
      display: none;

      @media (max-width: 991px) {
        display: block;
        position: absolute;
        cursor: pointer;
        top: 16px;
        left: 16px;
        width: 16px;

        img {
          width: 100%;
        }
      }
    }

    &-link {
      color: $white;
      font-size: 2.4rem;
      cursor: pointer;
      text-transform: uppercase;
      font-family: Glue-Gun;
      letter-spacing: 0.2rem;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: $black;

      @media (max-width: 991px) {
        font-size: 24px;
        padding: 8px 0;
        transition: 0.3s ease;

        &:hover {
          transform: translateX(-10px);
        }
      }

      &:not(:first-of-type) {
        margin-left: 6.4rem;

        @media (max-width: 991px) {
          margin-left: 0;
        }
      }
    }
  }
}