extends includes/layouts/Layout.pug

block pages
  include includes/containers/PreviewCharacters.pug

  .background-page
    include includes/containers/MarketPlace.pug
    include includes/containers/GamePlay.pug
    include includes/containers/Features.pug
    include includes/containers/Partner.pug
