-
  const dataFeatures = [
    {
      image: './assets/images/image-features-1.png',
      title: 'NFT collectibles',
      des: 'Crypto Monster is the paradise for dire collectors to possess collectibles and players can receive NFTs while mining, farming',
    },
    {
      image: './assets/images/image-features-2.png',
      title: 'Marketplace',
      des: 'Crypto Monster marketplace provides an efficient place for players to trade NFT items on and earn massive financial benefits',
    },
    {
      image: './assets/images/image-features-3.png',
      title: 'Staking',
      des: 'Players and investors can start staking their $CMON. $CMON will be staked in the different staking pools for a certain period of time',
    },
    {
      image: './assets/images/image-features-4.png',
      title: 'Ownership',
      des: 'The game mechanism ensures the true in-game assets ownership for players. Crypto Monster is run on Binance Smart',
    },
  ];

section.section.Features
  .container 
    .Features-wrapper 
      h3.section-title.wow.animate__bounceIn Features 

      .Features-main.flex.flex-wrap 
        each item in dataFeatures
          .Features-main-item.wow.animate__bounceIn
            .Features-main-item-image 
              img(src=`${item.image}`, alt="")
            h4.Features-main-item-title= item.title
            p.Features-main-item-description= item.des

            a(href="#").Features-main-item-see-more See More