section.section.GamePlay
  .container 
    .GamePlay-wrapper 
      .section-header 
        h3.section-title.wow.animate__bounceIn Game Play

      .GamePlay-main.flex.flex-wrap 
        .GamePlay-main-item.wow.animate__fadeInDown
          img(src="./assets/images/image-gameplay-1.png", alt="")

        .GamePlay-main-item.wow.animate__fadeInUp
          .GamePlay-main-item-image
            img(src="./assets/images/image-gameplay-2.png", alt="")
          h6.GamePlay-main-item-title Monter
          p.GamePlay-main-item-description Mode in which players participate in battles and competitions to fight against other opponents and climb to the top of the leaderboard. Your horse warriors will battle against others in teams, selected from dozens of unique legends, each with their own unique abilities to prove the strongest and claim the best. what. highest rank.