section.section.MarketPlace#marketplace
  .container 
    .MarketPlace-wrapper 
      .section-header
        h3.section-title Marketplace 
        p.section-description Crypto Monster players can start trading NFT items on Marketplace for huge financial benefits.

      .MarketPlace-main 
        .MarketPlace-main-image.desktop
          img(src="./assets/images/image-market-place-desktop.png", alt="")
        .MarketPlace-main-image.mobile
          img(src="./assets/images/image-market-place-mobile.png", alt="")
