section.section.Roadmap
  .container 
    .Roadmap-wrapper 
      h3.section-title.wow.animate__bounceIn Roadmap 

      .Roadmap-main
        .Roadmap-main-image.wow.animate__bounceIn
          img(src="./assets/images/image-roadmap.png", alt="")