section.section.Teams
  .container 
    .Teams-wrapper 
      h3.section-title Teams 

      .Teams-main.flex.flex-wrap.justify-center
        each item in [1,2,3,4,5,6,7]
          .Teams-main-item
            .Teams-main-item-image
              img(src=`./assets/images/image-team-${item}.png`, alt="")
            h6.Teams-main-item-name Zoey Hoang
            p.Teams-main-item-des 3D Director