section.section.Tokenomic
  .container 
    .Tokenomic-wrapper 
      h3.section-title Tokenomic 

      .Tokenomic-main
        .Tokenomic-main-image 
          img(src="./assets/images/image-tokenomic.png", alt="")