section.section.Tokenomic
  .container 
    .Tokenomic-wrapper 
      h3.section-title.wow.animate__bounceIn Tokenomic 

      .Tokenomic-main
        .Tokenomic-main-image.wow.animate__bounceIn
          img(src="./assets/images/image-tokenomic.png", alt="")