footer.Footer
  .container
    .Footer-wrapper.flex.items-center.justify-between 
      .Footer-wrapper-item
        h6.Footer-title Contact us 
        p.Footer-description Email: #[a(href="mailto: info@doragonland.io") info@doragonland.io]
      .Footer-wrapper-item.flex.items-center 
        a(href="#").Footer-wrapper-item-icon.flex.items-center.justify-center.telegram
          img(src="./assets/icons/logo-telegram.png", alt="")
        a(href="#").Footer-wrapper-item-icon.flex.items-center.justify-center.twitter
          img(src="./assets/icons/logo-twitter.png", alt="")
