include ../components/Button/index.pug
include ../components/Input/index.pug

doctype html
html
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title Crypto Monter
		block head

		//- CSS
		link(rel="stylesheet" type="text/css" href="./assets/css/main.css")
		link(rel="stylesheet" href="/assets/fonts/HKGrotesk-Light.otf")
		link(rel="stylesheet" href="/assets/fonts/HKGrotesk-Regular.otf")
		link(rel="stylesheet" href="/assets/fonts/HKGrotesk-Medium.otf")
		link(rel="stylesheet" href="/assets/fonts/HKGrotesk-SemiBold.otf")
		link(rel="stylesheet" href="/assets/fonts/HKGrotesk-Bold.otf")
		link(rel="stylesheet" href="/assets/fonts/GlueGun-GW8Z.ttf")

		//- Favicon
		link(rel="icon" type="image/png" href="./assets/images/favicon.png")


	body
		include Header.pug

		block pages

		include Footer.pug

		//- Java Script
		script(src="./assets/js/jquery.min.js")
		script(src="./assets/js/owl.carousel.min.js")
		script(src="./assets/js/main.js")