.Partner {
  &-main {
    row-gap: 6rem;
    column-gap: 6rem;

    @media (max-width: 991px) {
      row-gap: 15px;
      column-gap: 15px;
    }

    &-item {
      flex: 0 0 calc(100% / 4 - 6rem);
      max-width: calc(100% / 4 - 6rem);

      @media (max-width: 991px) {
        flex: 0 0 calc(100% / 3 - 15px);
        max-width: calc(100% / 3 - 15px);
      }

      @media (max-width: 768px) {
        flex: 0 0 calc(100% / 2 - 7.5px);
        max-width: calc(100% / 2 - 7.5px);
      }

      img {
        width: 100%;
      }
    }
  }
}