.PreviewCharacters {
  &-character {
    padding-top: 22rem;
    background: url('../images/bg-preview-characters.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @media (max-width: 991px) {
      padding-top: 15rem;
    }
  }

  &-title {
    text-align: center;
    font-family: Glue-Gun;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: $white;
    font-size: 4.8rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: $black;
    margin-bottom: 22rem;

    @media (max-width: 991px) {
      display: none;
    }
  }

  &-logo-mobile {
    display: none;

    @media (max-width: 991px) {
      display: block;
      max-width: 364px;
      margin: 0 auto 22rem;

      img {
        width: 100%;
      }
    }

    @media (max-width: 768px) {
      max-width: 264px;
    }
  }

  &-preview {
    margin: auto;
    max-width: 87rem;
    padding: 5rem 0;
    position: relative;
    transform: translate(0rem, -11rem);

    @media (max-width: 575px) {
      max-width: 80rem;
      transform: translate(0rem, -15rem);
    }

    &-image {
      width: 100%;
      max-width: 34rem;
      min-height: 380px;
      margin: auto;

      @media (max-width: 768px) {
        min-height: 335px;
      }
    }
  }

  &-button {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 8.4rem;
    height: 8.4rem;
    position: absolute;
    background: $orange;
    top: 50%;
    border-radius: 50%;
    z-index: 2;

    @media (max-width: 768px) {
      width: 30px;
      height: 30px;
    }

    &.left {
      left: 0;
      transform: translateX(-200%);

      @media (max-width: 1080px) {
        transform: translateX(0);
      }

      @media (max-width: 768px) {
        left: 15px;
      }
    }

    &.right {
      right: 0;
      transform: translateX(200%);

      @media (max-width: 1080px) {
        transform: translateX(0);
      }

      @media (max-width: 768px) {
        right: 15px;
      }
    }

    img {
      width: 4.8rem;

      @media (max-width: 768px) {
        width: 15px;
      }
    }
  }

  &-navigation {
    position: relative;
    max-width: 99rem;
    margin: 0 auto;
    background: $primary;
    padding: 3rem 12rem;
    clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0% 100%);

    @media (max-width: 575px) {
      padding: 2rem 6rem;
      max-width: 300px;
    }

    &::before,
    &::after {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 2rem;
      background: url('../images/line.png');
      background-size: cover;
      background-position: center;
      content: '';
      pointer-events: none;
    }

    &::before {
      top: 0;

      @media (max-width: 575px) {
        top: -3px;
      }
    }

    &::after {
      bottom: 0;
      transform: translateX(-50%) rotate(180deg);

      @media (max-width: 575px) {
        bottom: -3px;
      }
    }

    &-title {
      text-align: center;
      font-family: Glue-Gun;
      letter-spacing: 0.2rem;
      color: $yellow;
      text-transform: uppercase;
      font-size: 6.2rem;

      @media (max-width: 575px) {
        font-size: 24px;
      }
    }

    &-arrow {
      width: 3rem;
      cursor: pointer;

      @media (max-width: 575px) {
        width: 12px;
      }

      img {
        width: 100%;
      }
    }
  }

  &-level {
    background: $primary;
    padding: 6rem 0;

    @media (max-width: 575px) {
      padding: 15px 0;
    }

    &-main {
      position: relative;
      max-width: 140rem;
      padding: 0 10rem;
      margin: 0 auto;

      @media (max-width: 575px) {
        padding: 0 40px;
      }
    }

    &-preview-item {
      background: $primary-light;
      padding: 30px 6rem;
      border: 1px solid $yellow;
      border-radius: 15px;
      position: relative;
      margin: 0 8px;

      @media (max-width: 768px) {
        padding: 20px 15px;
      }

      &::before,
      &::after {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 2rem;
        background: url('../images/line.png');
        background-size: cover;
        background-position: center;
        content: '';
        pointer-events: none;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
        transform: translateX(-50%) rotate(180deg);
      }

      &-image {
        max-width: 23rem;
        flex: 0 0 23rem;
        height: 23rem;
        background: linear-gradient(34.71deg, #FFFFFF 27.11%, #92FFFF 100.41%);
        border-radius: 50%;
        margin-right: 10rem;

        @media (max-width: 768px) {
          max-width: 85px;
          flex: 0 0 85px;
          height: 85px;
          margin-right: 12px;
        }

        img {
          width: 18rem;
          transform: translate(-10%, 6%);

          @media (max-width: 768px) {
            width: 70px;
          }
        }
      }

      &-info {
        &-title {
          margin-bottom: 2rem;

          &-number {
            flex: 0 0 6.5rem;
            max-width: 6.5rem;
            height: 6.5rem;
            border-radius: 50%;
            color: $primary;
            background: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 5rem;
            margin-right: 3.5rem;
            font-family: HKGrotesk-Bold;

            @media (max-width: 768px) {
              flex: 0 0 20px;
              max-width: 20px;
              height: 20px;
              font-size: 18px;
              margin-right: 10px;
            }
          }

          &-label {
            font-family: HKGrotesk-Bold;
            font-size: 6.2rem;
            color: $white;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            @media (max-width: 768px) {
              font-size: 18px;
            }
          }
        }

        &-description {
          color: $white;
          font-family: HKGrotesk-Bold;
          font-size: 2.4rem;

          @media (max-width: 768px) {
            font-size: 12px;
          }
        }
      }
    }

    &-button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 6.5rem;
      height: 6.5rem;
      position: absolute;
      background: $primary-light;
      top: 50%;
      border-radius: 50%;

      @media (max-width: 575px) {
        width: 20px;
        height: 20px;
      }

      &.left {
        left: 15px;
        transform: translate(0, -50%);

        img {
          transform: translateX(-2px);
        }
      }

      &.right {
        right: 15px;
        transform: translate(0, -50%);

        img {
          transform: translateX(2px);
        }
      }

      img {
        width: 2rem;

        @media (max-width: 575px) {
          width: 5px;
        }
      }
    }
  }
}