extends includes/layouts/Layout.pug

block pages
  include includes/containers/PreviewCharacters.pug

  .background-page
    .land.land1
      img(src="./assets/images/image-land-1.png", alt="")
    .land.land2
      img(src="./assets/images/image-land-2.png", alt="")

    include includes/containers/MarketPlace.pug
    include includes/containers/GamePlay.pug
    include includes/containers/Features.pug
    include includes/containers/Tokenomic.pug
    include includes/containers/Roadmap.pug
    include includes/containers/Teams.pug
    include includes/containers/Partner.pug
